<html>
  <head>
    <link rel="stylesheet" href="/assets/third-party/bootstrap/dist/css/bootstrap.min.css" />
    <title th:text="#{person.create}" />
  </head>
  <body>
    <nav class="navbar navbar-inverse bg-inverse">
      <font color="white"><h3 th:text="#{home.title}"/></font>
    </nav>
    <div class="jumbotron">
      <h1 class="display-3" th:text="#{home.welcome}" />
        <p class="lead" th:text="#{home.subtitle}" />
        <hr class="my-4" />
        <p th:text="#{home.label}" />
        <a th:href="#{home.repository}" class="btn btn-primary btn-lg" role="button"><p th:text="#{home.learn.more}"/></a>
    </div>
    <form id="register" th:action="@{/save}" th:object="${personCommand}" method="post">
      <label for="nickname"><h4 th:text="#{person.nickname}"/></label>
      <input type="text" name='nickname' th:field="*{nickname}" placeholder="nickname" id='nickname'/>
      <label th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></label>
      <br/>
      <label for="email"><h4 th:text="#{person.email}"/></label>
      <input type="text" name='email' th:field="*{email}" placeholder="Email" id='email'/>
      <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
      <br/><br/>
      <button id="btn-success" type="submit"><p th:text="#{button.submit}"/></button>
    </form>
    <footer>
    <nav class="navbar navbar-inverse bg-inverse">
      <a class="navbar-brand" th:href="#{home.repository}"><p th:text="#{home.footer}"/></a>
    </nav>
    </footer>
  </body>
</html>
